@using Dfe.Data.SearchPrototype.Web.Models.ViewModels;
@model SearchResults

<div class="govuk-grid-column-two-thirds" id="results">
    <h3 class="govuk-heading-m" id="search-results-count">@Model.SearchResultsCount @(Model.HasMoreThanOneResult ? "Results" : "Result")</h3>
    <hr />
    <ul id="establishment-search-results" style="list-style: none">
        @foreach (var searchItem in Model.SearchItems!)
        {
            <div>
                <li id="name-@searchItem.Urn">
                    <h4 style="background-color:aliceblue">
                    <span>@searchItem.Name</span>
                    </h4>
                </li>
                <li id="urn-@searchItem.Urn">
                    <strong>URN: </strong><span>@searchItem.Urn</span>
                </li>
                <li id="address-@searchItem.Urn">
                <strong>Address: </strong> <span>@searchItem.ReadableAddress</span>
                </li>
                <li id="establishment-type-@searchItem.Urn">
                <strong>Type of establishment: </strong> <span>@searchItem.EstablishmentType</span>
                </li>
                <li id="establishment-status-@searchItem.Urn">
                    <strong>Status: </strong> <span>@searchItem.EstablishmentStatusName</span>
                </li>
                <li id="education-phase-@searchItem.Urn">
                    <strong>Education phase: </strong> <span>@searchItem.PhaseOfEducation</span>
                    <hr />
                </li>
            </div>
        }
    </ul>
</div>