@* partial view for pagination*@
<nav class="govuk-pagination" role="navigation" aria-label="results">
    @if (Model.Pagination.HasPageableResults)
    {
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item @(Model.Pagination.IsFirstPage ? "govuk-visually-hidden" : "")">
                <button type="submit"
                        style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                        class="govuk-link govuk-pagination__link"
                        name="PageNumber"
                        value=@Model.Pagination.PreviousPageNumber>
                    « previous
                </button>
            </li>
            <li class="govuk-pagination__item @(Model.Pagination.CurrentPageInsideLowerPaddingBoundary ? "govuk-visually-hidden" : "")">
                <button type="submit"
                        style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                        class="govuk-link govuk-pagination__link"
                        name="PageNumber"
                        value=@Model.Pagination.FirstPageNumber>
                    @Model.Pagination.FirstPageNumber
                </button>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses @(Model.Pagination.CurrentPageOnLowerPaddingBoundaryThreshold ? "govuk-visually-hidden" : "")">
                &ctdot;
            </li>
            @foreach (var pageNumber in Model.Pagination.CurrentPageSequence)
            {
                if (pageNumber > 0)
                {
                    <li class="govuk-pagination__item
                                        @(pageNumber == Model.Pagination.CurrentPageNumber ? "govuk-pagination__item--current" : "")">
                        <button type="submit"
                                style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                                class="govuk-link govuk-pagination__link"
                                name="PageNumber"
                                value=@pageNumber>
                            @pageNumber
                        </button>
                    </li>
                }
            }
            <li class="govuk-pagination__item govuk-pagination__item--ellipses
                                @(Model.Pagination.CurrentPageOnUpperPaddingBoundaryThreshold ? "govuk-visually-hidden" : "")">
                &ctdot;
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses
                                @(Model.Pagination.CurrentPageInsideUpperPaddingBoundary ? "govuk-visually-hidden" : "")">
                <button type="submit"
                        style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                        class="govuk-link govuk-pagination__link"
                        name="PageNumber"
                        value=@Model.Pagination.TotalNumberOfPages>
                    @Model.Pagination.TotalNumberOfPages
                </button>
            </li>
            <li class="govuk-pagination__item @(Model.Pagination.IsLastPage ? "govuk-visually-hidden" : "")">
                <button type="submit"
                        style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                        class="govuk-link govuk-pagination__link"
                        name="PageNumber"
                        value=@Model.Pagination.NextPageNumber>
                    next »
                </button>
            </li>
        </ul>
    }
</nav>