@* partial view for pagination*@
<nav id="pagination" class="govuk-pagination" role="navigation" aria-label="results-pagination">
    @if (Model.IsPageable)
    {
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item
                @(Model.IsFirstPage ? "govuk-visually-hidden" : "")">
                <button
                    type="submit"
                    style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                    class="govuk-link govuk-pagination__link"
                    name="PageNumber"
                    value=@Model.PreviousPageNumber>
                    « previous
                </button>
            </li>
            <li class="govuk-pagination__item
                @(Model.CurrentPageInLowerPagingBoundary ? "govuk-visually-hidden" : "")">
                <button
                    type="submit"
                    style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                    class="govuk-link govuk-pagination__link"
                    name="PageNumber"
                    value=@Model.FirstPageNumber>
                    @Model.FirstPageNumber
                </button>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses
                @(Model.CurrentPageInLowerPagingThreshold ? "govuk-visually-hidden" : "")">
                &ctdot;
            </li>
            @foreach (var pageNumber in Model.CurrentPageSequence)
            {
                if (pageNumber > 0)
                {
                    <li class="govuk-pagination__item
                        @(pageNumber == Model.CurrentPageNumber ? "govuk-pagination__item--current" : "")">
                        <button
                            type="submit"
                            style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                            class="govuk-link govuk-pagination__link"
                            name="PageNumber"
                            value=@pageNumber
                            id="pageNumber-@pageNumber">
                            @pageNumber
                        </button>
                    </li>
                }
            }
            <li class="govuk-pagination__item govuk-pagination__item--ellipses
                @(Model.CurrentPageInUpperPagingThreshold ? "govuk-visually-hidden" : "")">
                &ctdot;
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses
                @(Model.CurrentPageInUpperPagingBoundary ? "govuk-visually-hidden" : "")">
                <button
                    type="submit"
                    style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                    class="govuk-link govuk-pagination__link"
                    name="PageNumber"
                    value=@Model.TotalNumberOfPages>
                    @Model.TotalNumberOfPages
                </button>
            </li>
            <li class="govuk-pagination__item
                @(Model.IsLastPage ? "govuk-visually-hidden" : "")">
                <button
                    type="submit"
                    style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font-size:large;"
                    class="govuk-link govuk-pagination__link"
                    name="PageNumber"
                    value=@Model.NextPageNumber>
                    next »
                </button>
            </li>
        </ul>
    }
</nav>