@using Dfe.Data.SearchPrototype.Web.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@model SearchResults
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Search Results";
    var searchKeyWord = ViewBag.SearchQuery as string;
}

@* search component *@
<form asp-action="Index" asp-controller="Home" method="get" id="search-establishments-form">
    <govuk-input input-class="govuk-input govuk-!-width-two-thirds" input-placeholder="Search by keyword" input-value="@searchKeyWord" name="searchKeyWord">
        <govuk-input-label is-page-heading="true" class="govuk-label--l" id="page-heading">Search</govuk-input-label>
        <govuk-input-hint>Search establishments</govuk-input-hint>
        <govuk-input-suffix style="padding: 0px">
            <button id="search" style="border: none; cursor:pointer" type="submit">
                <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                    <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                </svg>
            </button>
        </govuk-input-suffix>
    </govuk-input>
    @* end of search component *@
    @* filters *@
    @if (Model != null)
    {
        @if (Model.HasResults)
        {
            <div id="filters-container" class="govuk-grid-column-one-third">
                <h3 id="filters-heading">Filters</h3>
                <button id="filters-button" type="submit" class="govuk-button" data-module="govuk-button">
                    Apply filters
                </button>
                <button id="clearFilters" type="submit" name="ClearFilters" value="true" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Clear filters
                </button>
                @if (Model.Facets is not null && Model.Facets.Any())
                {
                    foreach (var facet in Model.Facets)
                    {
                        <govuk-checkboxes name="selectedFacets[@facet.Name]">
                            <govuk-checkboxes-fieldset id="FacetName-@facet.Name">
                                <govuk-checkboxes-fieldset-legend id="@facet.Name" class="govuk-fieldset__legend--s">
                                    @Localizer[facet.Name]
                                </govuk-checkboxes-fieldset-legend>

                                @foreach (var facetValue in facet.Values)
                                {
                                    <govuk-checkboxes-item checked="@facetValue.IsSelected" value="@facetValue.Value">
                                        @facetValue.Value (@facetValue.Count)
                                    </govuk-checkboxes-item>
                                }
                            </govuk-checkboxes-fieldset>
                        </govuk-checkboxes>
                    }
                }
                else
                {
                    <p>No filters available</p>
                }
            </div>
        }
        @* end of filters *@
        @* display results *@
        @if (Model.HasResults)
        {
            <div class="govuk-grid-column-two-thirds" id="results">
                <h3 class="govuk-heading-m" id="search-results-count">@Model.SearchResultsCount @(Model.HasMoreThanOneResult ? "Results" : "Result")</h3>
                <hr />
                <ul style="list-style: none">
                    @foreach (var searchItem in Model.SearchItems!)
                    {
                        <li id="name-@searchItem.Urn">
                            <h4 style="background-color:aliceblue">
                                @searchItem.Name
                            </h4>
                        </li>
                        <li id="urn-@searchItem.Urn">
                            <strong>URN: </strong>@searchItem.Urn
                        </li>
                        <li id="address-@searchItem.Urn">
                            <strong>Address: </strong> @searchItem.ReadableAddress
                        </li>
                        <li id="establishment-type-@searchItem.Urn">
                            <strong>Type of establishment: </strong> @searchItem.EstablishmentType
                        </li>
                        <li id="establishment-status-@searchItem.Urn">
                            <strong>Status: </strong> @searchItem.EstablishmentStatusName
                        </li>
                        <li id="education-phase-@searchItem.Urn">
                            <strong>Education phase: </strong> @searchItem.PhaseOfEducation
                            <hr />
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="govuk-grid-column-two-thirds" id="no-results">
                <p>Sorry no results found please amend your search criteria</p>
            </div>
        }
        @*  end of list component *@
    }
    @* end of display results *@
</form>